.h5p-completion-confirmation {
  padding: 0.5rem 0;
  margin: 0 0.5rem;
}

.h5p-completion-confirmation .h5p-completion-confirmation-box-description h2:first-child,
.h5p-completion-confirmation .h5p-completion-confirmation-box-description h3:first-child,
.h5p-completion-confirmation .h5p-completion-confirmation-box-description p:first-child,
.h5p-completion-confirmation .h5p-completion-confirmation-box-description pre:first-child {
  margin-top: 0;
}
